<html>

<div class="question">
<p>Your question was: <%= params["question"]%></p>
</div>
<div class="answer">
<p>My answer: <%= @answer  %></p>
</div>
<p class="link"><%= link_to "Ask another question", "/ask"  %></p>
</html>
