
<div class ="container">
  <div class ="form">
  <form action="/answer">
    <input id="input" type="text" name="question">
    <input id="btn" type="submit" value="Ask me a question!">
  </form>
  </div>
</div>
